[submodule "dotfiles-ubuntu"]
  path = dotfiles-ubuntu
  url = git@github.com:konstantint/dotfiles-ubuntu.git
  update = merge
  branch = main
[submodule "dotfiles-zsh"]
  path = dotfiles-zsh
  url = git@github.com:konstantint/dotfiles-zsh.git
  update = merge
  branch = main
 
[submodule "dotfiles-private"]
	path = dotfiles-private
	url = git@github.com:konstantint/dotfiles-private.git
[submodule "dotfiles-geminicli"]
	path = dotfiles-geminicli
	url = git@github.com:konstantint/dotfiles-geminicli.git
